.player {
  width: 100px;
  height: 100px;
  position: absolute;
  padding-top: 24px;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

#messages {
    width: 400px;
    height: 200px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
}

#form {
    position: absolute;
    right: 0px;
    bottom: 205px;
}

.item {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    left: 0;
    top: 0;
}